@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:where(.css-dev-only-do-not-override-1a3rktk).ant-btn-color-primary {
  height: 50px;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-input {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1a3rktk).ant-space-vertical {
  width: 100%;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-space-vertical {
  width: 80%;
}

.container-chat .main {
  padding: 0 40px;
  height: 75vh;
}
.container-chat .main .main_section-title {
  margin-bottom: 30px;
}
.container-chat .main .main_section-title .section-title_wrapper {
  padding: 0 0 10px 20px;
  display: flex;
  border-bottom: 2px solid #BA1F33;
}
.container-chat .main .main_section-title .section-title_wrapper .section-title_block-title {
  margin-right: 300px;
}
.container-chat .main .main_section-title .section-title_wrapper .section-title_block-title h1 {
  font: 400 32px "Rubik Glitch";
  color: #ba1f33;
}
.container-chat .main .main_section-title .section-title_wrapper .section-title_block-profile-info {
  display: flex;
  align-items: center;
}
.container-chat .main .main_section-title .section-title_wrapper .section-title_block-profile-info img {
  margin-right: 10px;
}
.container-chat .main .container_chat {
  display: flex;
  gap: 30px;
  height: 100%;
}
.container-chat .main .container_chat .main_section-usersChat {
  flex-basis: 30%;
}
.container-chat .main .container_chat .main_section-usersChat .section-usersChat_block .section-usersChat_userBlock {
  padding: 10px;
  gap: 10px;
  display: flex;
  margin-bottom: 10px;
}
.container-chat .main .container_chat .main_section-usersChat .section-usersChat_block .section-usersChat_userBlock .section-usersChat_blockAvatar {
  width: -moz-min-content;
  width: min-content;
  position: relative;
}
.container-chat .main .container_chat .main_section-usersChat .section-usersChat_block .section-usersChat_userBlock .section-usersChat_blockAvatar .section-usersChat_online {
  right: 0px;
  bottom: 5px;
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 30px;
}
.container-chat .main .container_chat .main_section-usersChat .section-usersChat_block .section-usersChat_userBlock .section-usersChat_infoUsers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px;
}
.container-chat .main .container_chat .main_section-usersChat .section-usersChat_block .section-usersChat_userBlock .section-usersChat_infoUsers .section-usersChat_blockText {
  display: flex;
  justify-content: space-between;
}
.container-chat .main .container_chat .main_section-usersChat .section-usersChat_block .section-usersChat_userBlock.active {
  background: rgba(255, 0, 0, 0.3);
}
.container-chat .main .container_chat .main_section-chat {
  flex-basis: 70%;
  display: flex;
  justify-content: end;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper {
  max-height: 65vh;
  overflow: scroll;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper .section-chat_block-info {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper .section-chat_block-info .section-chat_block-text {
  width: 200px;
  background-color: #ba1f33;
  border-radius: 20px 0 20px 20px;
  padding: 10px;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper .section-chat_block-info .section-chat_block-text .section-chat_content {
  font: 600 20px "Roboto";
  margin-bottom: 10px;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper .section-chat_block-info .section-chat_block-text .section-chat_date {
  font: 400 14px "Roboto";
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper .other-message {
  justify-content: start;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_wrapper .other-message .section-chat_block-text {
  border-radius: 0px 20px 20px 20px;
  background-color: #130a66;
}
.container-chat .main .container_chat .main_section-chat .section-chat_block .section-chat_block-button {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=ChatMain.css.map */