@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

    
.input
    border: 3px  solid rgba(204, 20, 44, 1)
    border-radius: 10px
    width: 100%
    background: none
    padding: 15px 0 15px 10px
    font: 400 16px 'Roboto'
    color: #fff

.container
    padding: 50px 0
    height: 100%
    overflow: scroll
    background: #08042E
    display: flex
    align-items: center
    justify-content: center
    .login_wrapper
        display: flex
        flex-direction: column
        gap: 20px
        width: 500px
        background: #08042E
        height: min-content
        .title
            text-align: center
            font: 400 70px 'Rubik Glitch'
            color: #ffff
        .have_account 
            display: flex
            justify-content: center
            p 
                margin-right: 10px
                text-align: center
                font: 400 20px 'Roboto'
                color: #ffff
            .custom_link
                color: red
                height: min-content
            .custom_link:hover
                border-bottom: 1px solid red
                
            
        form
            display: flex
            flex-direction: column
            gap: 20px
            .input_block
                label ,  button
                    font: 700 28px 'Roboto'
                    color: #fff
                    display: block
            .login_block
                .button_login
                    background: rgba(186, 31, 51, 1)
                    width: 100%
                    padding: 10px 0 10px 10px
                    border-radius: 10px
                    font: 400 28px 'Roboto'
                    color: #fff
            .switch_block
                display: flex
                p
                    color: #fff
                    font: 400 16px 'Roboto'
        .line_block
            display: flex
            align-items: center
            gap: 10px
            .line
                height: 4px
                background: rgba(186, 31, 51, 1)
                width: 100%
            .text
                color: #fff
                font: 400 20px 'Roboto'
        .steam_login
            .button_login
                background: #124dd8
                width: 100%
                padding: 10px 0 10px 10px
                border-radius: 10px
                color: #fff
                font: 400 28px 'Roboto'

                
.error
    color: #fff
    font: 400 14px 'Roboto'
.button_login:disabled 
    background: black