.scroll-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    
}

.scroll-photo-block1 ,.scroll-photo-block2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: 12s linear infinite running scrollUp;
    animation-duration: -0.3s;
}


.scroll-photo-block2{
    animation: 9s linear infinite running scrollUp;
}

.main-img{
    width: 90%;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}